:root {
  --color-primary: #5f275c;
  --color-secondary: #fff;
  --color-red: #e04952;
  --color-black: #142628;
  --color-light-grey: #999;
  --color-grey: #666;
  --color-text: #c9e95f;
  --color-blue: #1c113b;
  --color-text-secondary: #5f275c;
}

